/*  dans le fichier generale.css je vais y ecrire la mise en page du header, du footer et les element *
    c'est elements seront presents sur l'ensemble des pages html y compris l'index.
*/

/* font family import */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manjari:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;1,100;1,300;1,400;1,500&display=swap');

/* reset */
*{
    padding: 0;
    margin: 0;
    font-family: Inter;
    color: #0D2053;
}

/* reset image */

section img{
    width: 300px;
}
/* parametrage génerale des ul */
ul{
    list-style-type: none;
}
/* parametrage génerale des liens */
a{
    text-decoration: none;
    color: #0D2053;
}
/*parametrage génerale des titres  */
h1,h2{
    font-family: 'Poppins', sans-serif;
    font-size: 55px;
    text-transform: uppercase;
}
h5{
    font-size: 15px;
    width: 300px;
    position: relative;
    background: linear-gradient(90deg, rgba(168,37,184,1) 0%, rgba(247,134,46,1) 21%, rgba(247,134,46,1) 39%, rgba(253,94,9,1) 52%, rgba(254,255,0,1) 82%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}


/* header */
header{
    background-color: #F5F5F5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 25px;
    border-bottom: 1px solid #F5F5F5;
}
header ul{
    display: flex;
}
header li{
    margin-right: 10px;
}
header img{
    width: 100px;
}
.con{
    display: none;
}

/* menu en flex sur desktop */
#nav{
    display: flex;
}
#btnHead{
    width: 200px;
    display: flex;
    padding-top: 12px;
    justify-content: space-around;
}

/* footer desktop*/
footer {
    background-color: #f5f5f5;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    width: -webkit-fill-available;
}

footer ul{
    display: flex;
    padding-bottom: 10px;
}
footer li{
    margin-left: 10px;
}
.copyr{
    padding-bottom: 10px;
}

/* fixer les footer de certains page en bas de page */
#fixed{
    position: absolute;
    bottom: 0;
}

/* boutons */
button{
    padding: 10px 15px;
    border: transparent;
    border-radius: 5px;
    margin: 10px 0px;
}
button:hover{
    background-color: #0D2053;
    color: #F5F5F5;
    transition: 0.1s ease-in;
    cursor: pointer;
}
button:hover a{
    color: #F5F5F5;
}

/* boutons header */
header button{
    background-color: #0D2053;
}
header button a{
    color: #F5F5F5;
    transition: 0.1s ease-in;
}
header button:hover{
    background-color: #e0dede;
    cursor: pointer;
}
header button:hover a{
    color: #0D2053;
}
/* class btnContact */
.btnContact{
    font-size: 11px;
}

/* mise en page du hr -> barre de separation */
hr{
    margin: 30px;
    border-color: #f5f5f563;
}


/*  responsive menu hambergur jusqu'a 600px 

*/

@media screen and (max-width:600px) {
    /* animation et construction du menu hamberger */
    .con{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #check{
        position: absolute;
        opacity: 0;
    }
    
    label{
        width: 30px;
        height: 30px;
        cursor: pointer;
        position: relative;
        display: block;
    }
    
    label span{
        position: absolute;
        display: block;
        height: 3px;
        width: 100%;
        border-radius: 100px;
        background-color: #0D2053;
        transition: 0.5s ease-in-out;
    }
    
    label span:nth-child(1){
        top: 0;
    }
    
    label span:nth-child(2){
        top: 8px;
    }
    
    label span:nth-child(3){
        top: 16px;
    }
    
    label span:nth-child(4){
        transform: rotate(-45deg);
        top: 8px;
        opacity: 0;
    }
    
    #check:checked + label span:nth-child(3){
        opacity: 0; 
    }
    
    #check:checked + label span:nth-child(2){
        opacity: 0; 
    }
    
    #check:checked + label span:nth-child(1){
        animation: a 1.2s ease forwards;
    }
    
    /* animation menu hamburger*/
    @keyframes a {
        50%{
            transform: translatey(13px);
        }
        100%{
            transform: rotate(45deg);
            top:8px;
        }
    }
    
    #check:checked + label span:nth-child(4){
        animation: b 1.5s cubic-bezier(0.9, 0, 0.85, -0.1) forwards;
    }
    
    @keyframes b {
        100%{
            opacity: 100;
        }
    } 

    /* header responsive */
    header{
        background-color: #f5f5f5;
        padding: 15px 0;
        flex-direction: column;
    }
    .con{
        padding-bottom: 12px;
    }

    /* correspond a la liste de navigation */
    #nav{
        padding-bottom: 12px;
        display: none;
    }

    #btnHead{
        width: 200px;
        display: none;
        padding-top: 12px;
        justify-content: space-around;
    }

    /* footer responsive */
    footer{
        flex-direction: column;
        align-items: center;
    }
}

